@model IEnumerable<DoAn_Web_SellClothes.Models.Account>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý khách hàng</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table "></i>
            Khách hàng
        </div>
        <div class="card-body">
            <table id="datatablesCustomer" class="table-responsive">
                <thead>
                    <tr>
                        <th style="min-width:180px">Tên khách hàng</th>
                        <th style="min-width:100px">Email</th>
                        <th style="min-width:150px">Số điện thoại</th>
                        <th style="min-width:180px">Địa chỉ</th>
                        <th style="min-width:150px">Mật khẩu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.AddressUser)</td>
                            <td>@Html.DisplayFor(modelItem => item.PasswordUser)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

