@model IEnumerable<DoAn_Web_SellClothes.Models.Product>

@helper trumcate(string input, int lenght)
{
    if (input.Length <= lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght)<text>...</text>
    }
}
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý sản phẩm</h1>
    <div class="mb-3">
        <a class="btn btn-success" href="@Url.Action("AddProduct","Manage")">Thêm sản phẩm</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table "></i>
            Sản phẩm
        </div>
        <div class="card-body">
            <table id="datatablesProduct" class="table-responsive">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Hình</th>
                        <th>Giá</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Mô tả</th>
                        <th>Loại</th>
                        <th>Trạng thái</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.NameProduct)</td>
                            <td>
                                <img src="~/Assets/img/Clothes/@Html.DisplayFor(modelItem => item.ImageProduct)" class="img-thumbnail" alt="Alternate Text" />
                            </td>
                            <td>@String.Format("{0:0,0 }", item.PriceProduct)<span>VNĐ</span></td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.CreateDate)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.UpdateDate)</td>
                            <td style="max-width:200px">@trumcate(item.DescribeProduct, 40)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductType.NameProductType)</td>
                            @if (item.StatusProduct == 1)
                            {
                                <td>Còn hàng</td>
                            }
                            else if (item.StatusProduct == 0)
                            {
                                <td>Hết hàng</td>
                            }
                            <td>
                                @Html.ActionLink("Detail", "DetailProducts", new { id = item.IdProduct }, new { @class = "btn btn-info btn-fluid mb-1" })
                                @Html.ActionLink("Edit", "EditProduct", new { id = item.IdProduct }, new { @class = "btn btn-primary btn-fluid mb-1" })
                                @Html.ActionLink("Size", "DetailProduct", new { id = item.IdProduct }, new { @class = "btn btn-primary btn-fluid mb-1" })
                                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.IdProduct }, new { @class = "btn btn-warning btn-fluid" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

